
@main("About", "About") {
    
} {
       <div class="page-content">
        <h1>Mission</h1>
        <p>
  Enye Interactive is the sole proprietorship owned by Travis Castillo and is based out of Portland, OR.  
  <br/>
  The intention is to develop mobile applications that provide value by building on concepts not covered by other applications.  Ideally in such a way as to remain playful with the medium, as too much seriousness is good for no one. 
  </p>
  <h1>Founder</h1>
  <div class="circular">
    </div>
    <p>
Travis Castillo has spent the last several years working professionally as an Android developer in Portland, OR.  He also has a background working on iOS applications.    
    </p> 
    </div>
    <p>
   <h1>Connect</h1>
   <a href="http://twitter.com/enyeinteractive"><img src="@routes.Assets.at("images/twitter-logo-blue.png")"class="twitter-logo"/></a>
   </p>

}
