//less

body {
  font: Helvetica, sans-seriff;
  color: #333;

  #primary {
    color: #ff0000;
    img {
      height: 150px;
      width: 100%;
    }

  }

  #footer{
      
  }

    #seed-button {
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    flash-container {
        alert alert-success {
            color: green;
        }

        alert alert-error {
            color: red;
        }
    }
}
