@(implicit flash: Flash)
@main("Seeds", "Seeds"){

<div class="flash-container">
    @if(flash.get("success").isDefined) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @if(flash.get("error").isDefined) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
    }
</div>

<div id="seed-button" >
        <paper-button raised onclick="@routes.SeedController.apply()">Apply Seed Data</paper-button>
</div>
}{
<link rel="import" href="@routes.Assets.at("components/paper-button/paper-button.html")"></link>
<link rel="import" href="@routes.Assets.at("components/paper-shadow/paper-shadow.html")"></link>
}

