@(implicit flash: Flash)
@main("Seeds", "Seeds"){

<polymer-element name="link-button">
    <template> 
        <paper-button raised id="apply" attributes="link" on-tap="{{ goLink }}"></paper-button>
    </template>
    <script>
        Polymer('link-button', {
            this.link = "http://google.com"
            goLink: function(e) {
                window.location.href = e.target.getAttribute('link');
            }
        });
    </script>
</polymer-element>


<div class="flash-container">
    @if(flash.get("success").isDefined) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @if(flash.get("error").isDefined) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
    }
</div>
<link-button link="@routes.SeedController.apply()">Test</link-button>
<br/>
<paper-button raised>
      <a href="@routes.SeedController.apply()">link</a>
</paper-button>
}{
<link rel="import" href="@routes.Assets.at("components/paper-button/paper-button.html")"></link>
<link rel="import" href="@routes.Assets.at("components/paper-shadow/paper-shadow.html")"></link>
}

