@(productForm: Form[ProductsController.ProductData], platforms: Seq[(String,String)])(implicit flash: Flash)

<h1>Create</h1>
   

    @import helper._

    @helper.form(action = routes.ProductsController.submit) {
        
        @inputText(productForm("name"))
        <!-- @inputText(productForm("platform")) -->
        @select(
            productForm("platformId[]"), 
            options = platforms,
            '_label -> "Platforms",
            '_default -> "** Select A Platform **"
        )
        @inputText(productForm("version"))
        @inputText(productForm("description"))
        <input type="submit" value="Submit">
    }

    <div class="container">
        @if(flash.get("success").isDefined) {
            <div class="alert alert-success">
                @flash.get("success")
            </div>
        }

        @if(flash.get("error").isDefined) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
        }
