@(title: String, actionBarTitle: String)(header: Html = null)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("components/webcomponentsjs/webcomponents-min.js")" type="text/javascript"></script>
        <link rel="import" href="@routes.Assets.at("components/core-scaffold/core-scaffold.html")"></link>
        @header
    </head>
    <body>
    <core-scaffold>
        <core-header-panel navigation flex >
            <nav>
            <core-toolbar tool flex> 
                <div flex>
                    @actionBarTitle
                </div>
            </core-toolbar>
            <core-menu theme="core-light-theme" selected="0">
                <paper-item noink>
                    <core-icon icon="label-outline"></core-icon>
                    <a href="#one">Single</a>
                </paper-item>

                <paper-item noink>
                    <core-icon icon="label-outline"></core-icon>
                    <a href="#two">Double</a>
                </paper-item>
            </core-menu>
            </nav>
        </core-header-panel>
        <div tool>
            @actionBarTitle
            <core-icon-button icon="settings" flex></core-icon-button>
        </div>
        <div layout center-center fit>
            @content
        </div>
        @footer()
    </core-scaffold>
    </body>
</html>
