@(title: String, actionBarTitle: String)(header: Html = null)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
       @header
    </head>
    <body>
 
            <div class="top-bar" tool>
                <img src="@routes.Assets.at("images/enye_simple_logo_2.png")"/>
            </div>

           <div class="left-panel">
               <a href="@routes.Application.home()"><h1>Home</h1></a>
               <a href="@routes.ProductsController.list()"> <h1>Products</h1></a>
               <a href="@routes.Pages.about()"> <h1>About</h1></a>
            </div> 

           <div class="content">
                @content
                @footer()
            </div>
    </body>
</html>
